html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0; }

.no-space {
  padding: 0;
  margin: 0; }

.link-no-style {
  text-decoration: none; }

.complete-center {
  align-items: center;
  justify-content: center; }

.main-nav {
  width: 12vw;
  background: #6C6E58;
  font-family: "Raleway", sans-serif;
  position: fixed;
  box-shadow: -1px 0px 20px 0px #242424; }

.main-nav__list {
  margin: 0;
  list-style: none;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-left: 0; }

.main-nav__item {
  padding-bottom: 20px; }

.main-nav__link {
  color: #F4F7D9; }

.image-grid {
  height: 100vh;
  width: 88vw;
  padding: 0;
  margin-left: 12vw;
  display: flex;
  flex-wrap: wrap; }

.image-grid__square {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 22vw;
  height: 33.3vh;
  border: none; }

.image-grid__square-info {
  display: none; }

.image-grid a:hover .image-grid__square-info {
  display: block;
  background-color: rgba(62, 66, 58, 0.741);
  height: 100%;
  width: 100%;
  display: flex; }
  .image-grid a:hover .image-grid__square-info h3 {
    text-align: center;
    color: #A4CFBE;
    font-family: "Raleway", sans-serif; }
